// Raleway 400,500,600,700- cyrillic //

/* raleway-regular - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: 
    url('../fonts/raleway-v26-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/raleway-v26-cyrillic-regular.woff') format('woff');
}

/* raleway-500 - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: 
    url('../fonts/raleway-v26-cyrillic-500.woff2') format('woff2'),
    url('../fonts/raleway-v26-cyrillic-500.woff') format('woff');
}

/* raleway-600 - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: 
    url('../fonts/raleway-v26-cyrillic-600.woff2') format('woff2'),
    url('../fonts/raleway-v26-cyrillic-600.woff') format('woff');
}

/* raleway-700 - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: l
    url('../fonts/raleway-v26-cyrillic-700.woff2') format('woff2'),
    url('../fonts/raleway-v26-cyrillic-700.woff') format('woff');
}

/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url('fonts/Lato-Regular.eot');
  /* IE9 Compat Modes */
  src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/Lato-Regular.woff2') format('woff2'),
    /* Modern Browsers */
    url('fonts/Lato-Regular.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */
@font-face {
  font-family: 'LatoWebSemibold';
  src: url('fonts/Lato-Semibold.eot');
  /* IE9 Compat Modes */
  src: url('fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/Lato-Semibold.woff2') format('woff2'),
    /* Modern Browsers */
    url('fonts/Lato-Semibold.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/Lato-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */
@font-face {
  font-family: 'LatoWebMedium';
  src: url('fonts/Lato-Medium.eot');
  /* IE9 Compat Modes */
  src: url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/Lato-Medium.woff2') format('woff2'),
    /* Modern Browsers */
    url('fonts/Lato-Medium.woff') format('woff'),
    /* Modern Browsers */
    url('fonts/Lato-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
